body{
    font-family: 'Comfortaa', cursive;
    width: auto;
}
div.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
i{
    font-size: 25px;
}
.bookmark{
    float: right;
}
img{
    width: 100%;
}